body {
  padding: 2em;
}
.form {
  position: relative;
}
.form>div {
  padding: 1em;
}
.form label {
  /* display: block; */
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
input {
 border: 2px solid black;
 font-size: 1.3em;
 padding: 0.4em;
}
input[type="text"],input[type="number"] {
  display: block;
}

.valid > input{
  border-color: #00a900;
}

.invalid > input{
  border-color: #ee1a13;
}
.validation-msg{
  margin-top: 0.2em;
  position: absolute;
}
.days-attending {
  display: flex;
}
.days-attending>div{
  margin: 0.3em 1em;
}
.days-attending input {
  font-size: 5em;
}
.days-attending label {
  font-size: 1.5em;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}